*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #001600;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-bar-wrapper {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.75rem;
}

.progress-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
    background-color: #ffffff;
}

.progress-bar #progress {
    background-color: #00fd58;
    width: 0%;
    color: #00fd58;
}

.map {
    position: relative;
}

.room {
    position: relative;
    z-index: -10;
}

.missions img {
    width: 27px;
    height: 36px;
}

.missions button {
    background-color: transparent;
    border: none;
}

.magnification-glass {
    position: absolute;
    bottom: 0;
    right: 0;
}

.aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.aside .call-for-meeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-top: 125%;
}

.meeting-button {
    background-color: #001600;
    border-color: #ff5758;
    padding: 5px;
    display: flex;
    flex-flow: wrap;
}

.meeting-button p {
    padding: 8px;
}

.warning_icon {
    width: 35px;
}

/* Eliminated button */

.eliminated-button {
    background-color: #001600;
    border: 1px solid #ff5758;
    padding: 5px;
    display: flex;
    flex-flow: wrap;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.eliminated_icon {
    width: 75px;
}

.task-number {
    margin: 5px;
}

.task-text {
    margin: auto;
    width: 80%;
    text-align: center;
}

/*popup styling*/

.popup-content {
    width: 80%;
    height: 80%;
    background-color: #001600;
    color: white;
    border: 2px solid #00ffaf;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.meetingPopup-content,
.eliminatedPopup-content {
    width: 80%;
    height: 80%;
    background-color: #001600;
    color: white;
    border: 2px solid #ff5758;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#meetingPopup .meetingPopup-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    z-index: 100000;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.popup-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    background-color: #001600;
    border-color: #00ffaf;
    padding: 5px;
    width: 100%;
}

.task-image {
    width: 35%;
    margin: auto;
}

.form {
    margin: auto;
    width: 80%;
}

#answerInput {
    width: 100%;
    margin: auto;
    padding: 5px;
}

/* pop-up styling eliminated button */
#confirmOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url('ie.png');
    background: -moz-linear-gradient(rgba(11, 11, 11, 0.1), rgba(11, 11, 11, 0.6)) repeat-x rgba(11, 11, 11, 0.2);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11, 11, 11, 0.1)), to(rgba(11, 11, 11, 0.6))) repeat-x rgba(11, 11, 11, 0.2);
    z-index: 100000;
}

#confirmBox {
    background-color: #001600;
    width: 460px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -230px;
    border: 2px solid #ff5758;
}

#confirmBox h1,
#confirmBox p {
    padding: 18px 25px;
}

#confirmBox h1 {
    letter-spacing: 0.3px;
    color: #ff5758;
}

#confirmBox p {
    background: none;
    font-size: 16px;
    line-height: 1.4;
    padding-top: 35px;
    text-decoration: none;
}

#confirmButtons {
    padding: 15px 0 25px;
    text-align: center;
}

.confirmButton {
    padding: 10px 20px;
    margin: 0 20px;
}

#confirmBox .button {
    display: inline-block;
    color: white;
    position: relative;
    height: 33px;

    font: 17px/33px;
    margin-right: 15px;
    padding: 0 35px 0 40px;
    text-decoration: none;
    border: none;
}

#confirmBox .button:last-child {
    margin-right: 0;
}

#confirmBox .button span {
    position: absolute;
    top: 0;
    right: -5px;
    background: url('buttons.png') no-repeat;
    width: 5px;
    height: 33px;
}
