body {
    text-align: center;
    background-color: #001600;
    width: 414px;
    height: 896px;
    color: white;
    margin: 0;
}

.logo img {
    height: 150px;
    width: 150px;
}

.input {
    width: 80%;
    height: 20px;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
}


.portaitBody {
    height: 280px;
}

.guest__forum {
    margin-top: 100px;

}