body {
    text-align: center;
    background-color: #001600;
    color: white;
}

/*Logo klein van boven*/
.logo img {
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
}

.portaitBody {
    height: 240px;
}

.input {
    width: 70%;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
}

.login__form {
    height: 60px;
}