html {
    height: 100%;
}

body {
    text-align: center;
    background-color: #001600;
    color: white;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
}

/*Logo klein van boven*/
.logo img {
    height: 30%;
    width: 30%;
    display: block;
    margin: auto;
    margin-bottom: 10%;