.profilePage_statsContainer,
.profilePage_imageContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.profilePage_imageContainer img{
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    margin: 50px;
    border-color: #00FFAF;
}

.logo h1 {
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
}

.profilePage_statsContainer{
    border-style: solid;
    border-width: 2px;
    border-color: #00FFAF;
    margin: 20px;
}