.profilePage_statsContainer,
.profilePage_imageContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 20px;
    width: auto;
}

.profilePage_statsContainer{
    flex-flow: column;
}

.avatar{
    width: 40%;
    height: 40%;
}

.arrow{
    width: 10%;
    height: 10%;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
}

.logo h1 {
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
}

.profilePage_statsContainer{
    border-style: solid;
    border-width: 2px;
    border-color: #00FFAF;
    margin: 20px;
}

footer{
    position: relative;
}

.footer-icons {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    align-items: flex-end;
  }
  
  .icon {
    width: 25%;
    text-align: center;
  }
  
  .icon img {
    max-width: 100%;
  }
  
  footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0; 
    width: 100%;
  }