body {
    text-align: center;
    background-color: #001600;
    color: white;
}

/*Logo klein van boven*/
.logo img {
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
}

.portaitBody {
    height: 280px;
    display: flex;
    flex-direction: column;
}

.portaitBody a {
    margin: 10px 0px;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
}

.button-green {
    height: 70px;
    width: 60%;
}