body {
    text-align: center;
    background-color: #001600;
    width: 414px;
    height: 896px;
    color: white;
}

.logo img {
    height: 150px;
    width: 150px;
}

.input {
    width: 80%;
    height: 20px;
}

.socialmedia {
    display: flex;
}

.spatie {
    height: 450px;
}