body {
    text-align: center;
    background-color: #001600;
    width: 414px;
    height: 896px;
    color: white;
}

/*Logo klein van boven*/
.logo img {
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
}